body{ color: #333; font-size: 14px; margin: 0 auto; width: 80%; line-height: 30px; background: url(/images/sea.jpg);}
div.content{ background: white; padding: 70px 60px; margin-bottom: 60px;}
pre{ line-height: 16px;}